<!DOCTYPE html>
<html>
<head>
  <title>DoeMij Nina Development</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="container marketing">
		<header>
			<ul class="nav nav-pills pull-right">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
		</header>

		<div class="jumbotron">
      <h1>
        <%= image_tag 'logo.png' %>
        DoeMij Nina Development
      </h1>
      <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p><a class="btn btn-lg btn-success" href="#" role="button">Meer informatie</a></p>
    </div>

    <%= yield %>

	</div>

</body>
</html>
